:root {
  --clr-primary: #1c7bf8;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #ffffff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warning: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #194d9c;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0.2rem 3 rem var(--clr-ligth);
  --clr-btn: #83b1e1;
}
nav {
  position: fixed;
  margin-left: 17%;
  width: 82.5%;
}

nav .nav-menu {
  border-color: var(--clr-primary);
  background-color: var(--clr-info-light);
  border-radius: 10px;
  margin-top: 5px;
  width: 97%;
}

nav .nav-menu h1 {
  color: var(--clr-primary);
  margin-left: 37px;
  display: inline-flex;
  margin-left: 10px;
  margin-bottom: 3px;
}

nav .nav-menu ul {
  display: flex;
  float: right;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: -2px;
}

nav .nav-menu ul li {
  display: flex;
  float: right;
  padding-left: 39px;
  margin-top: 7px;
}

nav .nav-menu ul li a {
  color: var(--clr-primary);
  font-weight: 500;
  font-size: 20px;
}
nav .nav-menu ul li a:hover {
  color: var(--clr-dark);
  font-weight: 500;
  font-size: 20px;
}

nav .nav-menu ul li span:hover {
  color: var(--clr-info-light);
  font-weight: 500;
  font-size: 6vh;
  cursor: pointer;
}

nav .nav-menu ul li span {
  color: var(--clr-primary);
  font-weight: 500;
  font-size: 6vh;
  cursor: pointer;
  background-color: var(--clr-btn);
  border-radius: 25px;
}
