:root {
  --clr-primary: #14490A;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #ffffff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warning: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #194d9c;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --clr-success-1: #0f8506;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0.2rem 3 rem var(--clr-ligth);
  --clr-btn: #83b1e1;
}
.sec-marketplace {
  margin-top: -100px;
  width: 200%;
  height: 28%;
  margin-left: -5%;
  border-radius: 25px;
  justify-content: left;
  align-items: center;
  display: flex;
}

.sec-marketplace {
  display: inline-flex;
  margin-top: 80px;
  margin-left: -61px;
  width: 200%;
}

.sec-marketplace .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 10px;
  height: 100px;
  display: inline-flex;
  margin: 40px;
  background-color: var(--clr-info-light);
}

.sec-marketplace .card span {
  font-size: 3rem;
  margin: 25px;
  margin-left: 2px;
  color: var(--clr-primary);
  transition: all 0.1s ease-in;
}
.sec-marketplace .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sec-marketplace .card .card-container {
  padding: 2px 16px;
  color: var(--clr-primary);
  margin-left: -25px;
  margin-top: 15px;
}
.sec-marketplace .card .card-container p {
  font-size: 1.5rem;
  color: var(--clr-primary);
  font-weight: bold;
}

.sec-marketplace .sec-tokens {
  margin-left: 0px;
  height: 0px;
  margin-left: -65.23%;
  width: 43%;
  margin-top: 155px;
  border-radius: 13px;
}
.sec-marketplace .sec-tokens h1 {
  color: var(--clr-primary);
  margin-left: -11px;
}
.sec-marketplace .sec-tokens .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  width: 162%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
.sec-marketplace .sec-tokens .cards .card {
  background-color: var(--clr-info-light);
  border-radius: 8px;
  margin-left: 0px;
  width: 164px;
  height: 305px;
  padding: 11px;
  text-align: center;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-primary);
  box-shadow: 0 4px 8px 0 var(--clr-primary);
}
.sec-marketplace .sec-tokens .cards .card:hover {
  box-shadow: 0 8px 16px 0 var(--clr-primary);
}
.sec-marketplace .sec-tokens .cards .card .details {
  margin-left: -10%;
}

.sec-marketplace .sec-tokens .cards .card h1 {
  margin-left: 10px;
}

.sec-marketplace .sec-tokens .cards .card .details .details-list {
  display: flex;
}

.sec-marketplace .sec-tokens .cards .card .details img {
  height: 120px;
  width: 120px;
  border-radius: 15px;
  margin-left: 11px;
  margin-top: 20px;
  box-shadow: 1px 1px 2px 1px var(--clr-primary);
}
.sec-marketplace .sec-tokens .cards .card .details img:hover {
  height: 120px;
  width: 120px;
  border-radius: 15px;
  margin-left: 11px;
  margin-top: 20px;
  transition: all 0.4s ease-in;
}

.sec-marketplace .sec-tokens .cards .card span {
  color: var(--clr-primary);
  font-size: 1.5rem;
  margin-top: -241px;
  border-radius: 25px;
  margin-right: -412px;
  float: right;
}

.sec-marketplace .sec-tokens .cards .card .details .details-list h3 {
  color: var(--clr-primary);
  text-align: center;
  font-size: 16px;
  margin-left: 15px;
  width: 100%;
}
.sec-marketplace .sec-tokens .cards .card .details .details-list h4 {
  color: var(--clr-primary);
  font-size: 10px;
  margin-left: -1px;
}
.sec-marketplace .sec-tokens .cards .card .details h4 {
  color: var(--clr-primary);
  font-size: 10px;
  margin-left: 10px;
}
.sec-marketplace .sec-tokens .cards .card .details button {
  margin: auto;
  font-size: 18px;
  padding: 10px 9px 8px 9px;
  text-align: center;
  margin: 6px 7px 4px 18px;
  border-radius: 9px;
  background-color: var(--clr-btn);
  color: var(--clr-primary);
  /* font-weight: 400; */
  font-weight: bold;
  border-color: #363949;
  border: 2px solid var(--clr-primary);
  cursor: pointer;
}

.sec-marketplace .sec-tokens .cards .card .details button:hover {
  margin: auto;
  font-size: 18px;
  padding: 10px 9px 8px 9px;
  text-align: center;
  margin: 6px 7px 4px 18px;
  border-radius: 9px;
  background-color: var(--clr-primary);
  color: var(--clr-info-dark);
  /* font-weight: 400; */
  font-weight: bold;
  border-color: #363949;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
